.color__box {
    background-color: whitesmoke;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  .colorPicker {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  
  .outer__color {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 23px;
  }
  
  .inner__color {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 1px;
  
    cursor: pointer;
    width:20px;
    height: 20px;
    border-radius: 10px;
  }
  
  .color1-border {
    border: 2px solid blue;
  }
  
  .color1-fill {
    background-color: blue;
  }
  
  .color2-border {
    border: 2px solid red;
  }
  
  .color2-fill {
    background-color: red;
  }
  .color3-border {
    border: 2px solid black;
  }
  
  .color3-fill {
    background-color: black;
  }
  .color4-border {
    border: 2px solid yellow;
  }
  
  .color4-fill {
    background-color: yellow;
  }
  .color5-border {
    border: 2px solid pink;
  }
  
  .color5-fill {
    background-color: pink;
  }
  .color6-border {
    border: 2px solid wheat;
  }
  
  .color6-fill {
    background-color: wheat;
  }
  