.page__number {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 30px 0 100px 0;
}

.page {
  height: 40px;
  width: 50px;
  text-align: center;
  font-weight: 600;
}

.page:hover {
  background-color: gray;
  cursor: pointer;
}
.pageNumberSelected {
  color: white;
  background-color: black;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page p {
  margin: 0;
}

.pageNumberSelected:hover {
  background-color: black;
}
